/* RESET CSS */

body,
html {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 756px) {
  .navbar {
    position: fixed;
    bottom: 0;
    height: 70px;
  }
}

/* MAIN */

main {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 90px);
}

@media (max-width: 756px) {
  main {
    flex-direction: column;
    margin-bottom: 120px;
  }
}

/* LEFT */

.left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(16, 16, 16, 0.24);
  text-align: left;
  padding-left: 30px;
}

.left .dropdown-contenitor {
  height: 100px;
  display: none;
}
/* .left .dropdown select {
  width: 100px;
  height: 50px;
}
.left .dropdown .option {
  background-color: black;
} */

@media (max-width: 756px) {
  .left {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .left .dropdown-contenitor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left .list {
    display: none;
  }
}

.left span {
  font-weight: 700;
  text-decoration: underline;
}

/* RIGHT */

.right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
}

.right p {
  max-width: 500px;
}

.right p a {
  text-decoration: underline;
}

.right .button-container {
  display: flex;
}
.right .button {
  color: black;
  border: 2px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  padding-left: 0;
}
